@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .max-container {
    @apply px-10  sm:px-20 xl:px-40 py-10 sm:py-16;
  }
  .scale-animation {
    @apply hover:scale-90 ease-out transition duration-500;
  }
  .navlink-list {
    @apply rounded-[20px] text-white text-base;
  }
  .nav-button {
    @apply flex items-center justify-center   gap-[10px] rounded-[20px] text-white font-semibold;
  }
  .nav-sidebar {
    @apply absolute left-0 right-0  backdrop-blur-sm transition-all duration-300 ease-in-out overflow-hidden z-20 mx-auto lg:hidden block;
  }
}
